@{
    ViewBag.Title = "AdminMain";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
@section Head{
    <script src="/js/AdminMain.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/AdminMain.css">
}
@section Body1{
    <video id="bg_video" src="/resource/AdminMain/background.mp4" autoplay="autoplay" muted="muted" loop="loop"></video>
}
@section Body2{
    <div id="table_type_div">
        <select name="tableType" id="table_type_select">
            <option>英雄</option>
            <option>技能</option>
            <option>地图</option>
        </select>
    </div>
    <table id="data_table">
        @Html.Raw(ViewData["tableHtml"])
    </table>
}