@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
@section Head{
    <link href="/css/Introduction.css" type="text/css" rel="stylesheet" />
}
@section Body1{
    <div id="bg_title"></div>
}
@section Body2{
    <div id="mask_left"></div>
    <div id="mask_right"></div>
    <div id="text_title">概述</div>
    <div id="div1">
        <video id="div1_video" src="/resource/introduction/GameShow.mp4" controls="controls" poster="/resource/introduction/GameShowPic.jpg"></video>
        <div id="div1_title">欢迎加入《守望先锋》</div>
        <div id="div1_content">在《守望先锋》这款团队射击游戏中，你将控制许多风格迥异的英雄中的其中一个，与战友组成一支六人队伍，和对手抢夺目标、决一死战并夺取最终的胜利！</div>
    </div>
    <div id="div2">
        <div id="div2_pic_left"></div>
        <div id="div2_pic_right"></div>
        <div id="div2_logo_contain">
            <svg id="div2_logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 281.5 279.4" version="1.1">
                <path fill="#F79D19" d="M79 61.1c36.5-27.8 87.1-27.8 123.6 0l25.2-31C176.6-9.8 104.9-9.8 53.7 30L79 61.1z"></path>
                <path fill="#fff" d="M235.6 36.6l-25.2 31.1c33.6 31.4 41.1 81.9 17.9 121.7l-55.5-53.3-25.9-58.3v88.6l54.9 52.8c-36.1 26.9-85.7 26.9-121.8 0l54.9-52.7V77.7l-26 58.3-55.5 53.3C30.2 149.6 37.6 99.1 71.2 67.7L45.9 36.6c-29.3 26.3-46 63.8-46 103.1 0 77 63.1 139.5 140.8 139.5 77.7 0 140.8-62.5 140.7-139.5.1-39.3-16.6-76.8-45.8-103.1zM271.2 217.6h1.4c.5 0 1.1 0 1.6.1.3 0 .6.2.8.4.4.4.7.9.6 1.5.1.9-.5 1.8-1.5 1.9l2 2.7h-1.8l-1.6-2.5v2.5h-1.5v-6.6zm1.4 1.2v1.7h.1c.3 0 .6 0 .9-.1.2-.2.4-.4.4-.7 0-.3-.1-.5-.3-.7-.3-.2-.6-.2-.9-.2h-.2zm.7 7.9c-3.2 0-5.8-2.6-5.8-5.8s2.6-5.8 5.8-5.8c3.2 0 5.8 2.6 5.8 5.8 0 3.3-2.6 5.8-5.8 5.8zm4.8-5.7c0-2.6-2.1-4.8-4.8-4.8-2.6 0-4.8 2.1-4.8 4.8 0 2.6 2.1 4.8 4.8 4.8 2.7-.1 4.8-2.2 4.8-4.8z"></path>
            </svg>
        </div>
        <div id="div2_title">选择英雄</div>
        <div id="div2_content1">在开始《守望先锋》的游戏前，你需要了解如何选择英雄。</div>
        <div id="div2_content2">
            也许你会喜欢一只来自月球，经过基因改造并且使用着电磁炮的大猩猩科学家。
            也许你会选择一名能够快速传送、穿梭时间的自由战士。又或者，
            你会青睐一位能够在战场上掌控节拍的DJ？不管你想成为怎样的英雄，都可以在守望先锋中找到。
        </div>
    </div>
    <div id="div3">
        <div id="div3_master_title">扮演你的角色</div>
        <div id="div3_master_contain">
            <div class="div3_contain">
                <div class="div3_logo_contain">
                    <svg viewBox="0 0 207.3 238.6">
                        <path d="M202.78,56.81h0c-3-2.28-86.39-50-90.13-52.27S106.16.3,103.65,0c-2.16,0-4,1.51-9,4.54-3.74,2.28-87.14,50-90.13,52.27C.28,59.81,0,59.81,0,65.9V170.43c0,7.77,1.52,9.09,4.51,11.36s86.39,50,90.13,52.27,6.51,4.26,9,4.54c2.16,0,4-1.51,9-4.54,3.74-2.28,87.14-50,90.13-52.27s4.51-3.59,4.51-11.36V65.9C207.29,59.84,207,59.9,202.78,56.81Zm.45,111.86c0,7.52-1.46,8.8-4.33,11s-83,48.29-86.59,50.49c-4.78,2.92-6.59,4.39-8.66,4.39-2.41-.28-5.07-2.19-8.66-4.39S11.27,181.9,8.4,179.67s-4.33-3.5-4.33-11v-101c0-5.86.26-5.81,4.33-8.74,2.87-2.2,83-48.26,86.6-50.46,4.78-2.92,6.58-4.39,8.66-4.39,2.4.28,5.07,2.19,8.66,4.39S196,56.73,198.91,58.93c4.07,2.93,4.32,2.88,4.32,8.74Z" transform="translate(-0.01 0)" fill="#f9a32c"></path>
                        <path d="M193.07,63.15c-2.69-2-77.91-44.77-81.28-46.82s-5.87-3.83-8.14-4c-2,0-3.65,1.36-8.13,4.08-3.38,2-78.6,44.77-81.3,46.82-3.82,2.73-4.07,2.57-4.07,8v93.92c0,7,1.37,8.17,4.07,10.21s77.92,44.92,81.29,47,5.87,3.83,8.13,4.08c2,0,3.64-1.36,8.13-4.08,3.37-2.05,78.6-44.92,81.29-47s4.07-3.22,4.07-10.21V71.17C197.14,65.72,196.9,65.88,193.07,63.15ZM138.71,105l-.06,0v16.67a8.61,8.61,0,0,1-1.08,4.3,103.06,103.06,0,0,1-31.78,35.65,3.29,3.29,0,0,1-4.39,0,103.22,103.22,0,0,1-31.55-35.21,9.81,9.81,0,0,1-1.2-5c0-10.51.25-21,0-31.54-.2-7.59,5.85-8.75,11-10,8.78-2.18,16.79-3.83,25.72-3.9,8.32,0,20.76,2.91,25.34,4.31,3.44,1,7.4,2.55,7.75,6,.3,2.9.22,5.85.25,8.77Z" transform="translate(-0.01 0)" fill="#f9a32c"></path>
                    </svg>
                </div>
                <div class="div3_title">重装</div>
                <div class="div3_content">
                    重装英雄负责吸收伤害以及冲散对方的防御，
                    在冲击抱团的敌人或是突击咽喉要道时有着重要的作用。如果你是一名重装英雄，
                    你就得扛起率领团队攻击的责任。
                </div>
            </div>
            <div class="div3_contain">
                <div class="div3_logo_contain">
                    <svg viewBox="0 0 207.3 238.6">
                        <path d="M202.78,56.81h0c-3-2.28-86.39-50-90.13-52.27S106.16.3,103.65,0c-2.16,0-4,1.51-9,4.54-3.74,2.28-87.14,50-90.13,52.27C.28,59.81,0,59.81,0,65.9V170.43c0,7.77,1.52,9.09,4.51,11.36s86.39,50,90.13,52.27,6.51,4.26,9,4.54c2.16,0,4-1.51,9-4.54,3.74-2.28,87.14-50,90.13-52.27s4.51-3.59,4.51-11.36V65.9C207.29,59.84,207,59.9,202.78,56.81Zm.45,111.86c0,7.52-1.46,8.8-4.33,11s-83,48.29-86.59,50.49c-4.78,2.92-6.59,4.39-8.66,4.39-2.41-.28-5.07-2.19-8.66-4.39S11.27,181.9,8.4,179.67s-4.33-3.5-4.33-11v-101c0-5.86.26-5.81,4.33-8.74,2.87-2.2,83-48.26,86.6-50.46,4.78-2.92,6.58-4.39,8.66-4.39,2.4.28,5.07,2.19,8.66,4.39S196,56.73,198.91,58.93c4.07,2.93,4.32,2.88,4.32,8.74Z" transform="translate(-0.01 0)" fill="#e52128"></path>
                        <path d="M193.07,63.15c-2.69-2-77.91-44.77-81.28-46.82s-5.87-3.83-8.14-4c-2,0-3.65,1.36-8.13,4.08-3.38,2-78.6,44.77-81.3,46.82-3.82,2.73-4.07,2.57-4.07,8v93.92c0,7,1.37,8.17,4.07,10.21s77.92,44.92,81.29,47,5.87,3.83,8.13,4.08c2,0,3.64-1.36,8.13-4.08,3.37-2.05,78.6-44.92,81.29-47s4.07-3.22,4.07-10.21V71.17C197.14,65.72,196.9,65.88,193.07,63.15ZM95,97.34a17.81,17.81,0,0,1,0-1.79c1.27-11.67,8.62-15.25,8.62-15.25s7.35,3.56,8.62,15.21a17.81,17.81,0,0,1,0,1.79v44.84H95Zm-25.38,0V95.53C71,83.86,78.3,80.3,78.3,80.3s7.35,3.56,8.62,15.21a17.81,17.81,0,0,1,0,1.79l0,44.82H69.65Zm17.29,61H69.67v-9.53H86.94Zm25.35,0H95v-9.53h17.27Zm25.36,0H120.38v-9.53h17.27Zm0-61v44.84H120.38V95.55C121.66,83.88,129,80.3,129,80.3s7.35,3.56,8.65,15.21C137.7,96,137.65,97.3,137.65,97.3Z" transform="translate(-0.01 0)" fill="#e52128"></path>
                    </svg>
                </div>
                <div class="div3_title">输出</div>
                <div class="div3_content">输出英雄的职责是用多种多样的工具、能力和技巧，在战斗中寻找、攻击并消灭敌人。</div>
            </div>
            <div class="div3_contain">
                <div class="div3_logo_contain">
                    <svg viewBox="0 0 207.3 238.6">
                        <path d="M202.78,56.81h0c-3-2.28-86.39-50-90.13-52.27S106.16.3,103.65,0c-2.16,0-4,1.51-9,4.54-3.74,2.28-87.14,50-90.13,52.27C.28,59.81,0,59.81,0,65.9V170.43c0,7.77,1.52,9.09,4.51,11.36s86.39,50,90.13,52.27,6.51,4.26,9,4.54c2.16,0,4-1.51,9-4.54,3.74-2.28,87.14-50,90.13-52.27s4.51-3.59,4.51-11.36V65.9C207.29,59.84,207,59.9,202.78,56.81Zm.45,111.86c0,7.52-1.46,8.8-4.33,11s-83,48.29-86.59,50.49c-4.78,2.92-6.59,4.39-8.66,4.39-2.41-.28-5.07-2.19-8.66-4.39S11.27,181.9,8.4,179.67s-4.33-3.5-4.33-11v-101c0-5.86.26-5.81,4.33-8.74,2.87-2.2,83-48.26,86.6-50.46,4.78-2.92,6.58-4.39,8.66-4.39,2.4.28,5.07,2.19,8.66,4.39S196,56.73,198.91,58.93c4.07,2.93,4.32,2.88,4.32,8.74Z" transform="translate(-0.01 0)" fill="#02a34a"></path>
                        <path d="M193.07,63.15c-2.69-2-77.91-44.77-81.28-46.82s-5.87-3.83-8.14-4c-2,0-3.65,1.36-8.13,4.08-3.38,2-78.6,44.77-81.3,46.82-3.82,2.73-4.07,2.57-4.07,8v93.92c0,7,1.37,8.17,4.07,10.21s77.92,44.92,81.29,47,5.87,3.83,8.13,4.08c2,0,3.64-1.36,8.13-4.08,3.37-2.05,78.6-44.92,81.29-47s4.07-3.22,4.07-10.21V71.17C197.14,65.72,196.9,65.88,193.07,63.15Zm-46.56,64.56a7.26,7.26,0,0,1-7.26,7.26h-20v20a7.26,7.26,0,0,1-7.26,7.26H95.17A7.26,7.26,0,0,1,87.91,155V135h-20a7.26,7.26,0,0,1-7.26-7.26v-17A7.26,7.26,0,0,1,68,103.56H88v-20a7.26,7.26,0,0,1,7.26-7.26h16.92a7.26,7.26,0,0,1,7.19,7.33v20h20a7.26,7.26,0,0,1,7.16,7.26Z" transform="translate(-0.01 0)" fill="#02a34a"></path>
                    </svg>
                </div>
                <div class="div3_title">支援</div>
                <div class="div3_content">
                    支援英雄能够保护并强化盟友。他们能够给盟友治疗或添加护盾，提升盟友造成的伤害或移动速度，
                    甚至还能复活盟友继续战斗。作为一名支援英雄，你就是团队存活的关键。
                </div>
            </div>
        </div>
    </div>
}